<h2>Edit Movie</h2>

<form class="form-horizontal" name="editMovie">

  <div class="form-group">
    <label for="editTitle" class="col-sm-2 control-label">Edit Title: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editTitle" ng-model="movie.movieTitle" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <div ng-show="watch.title" class="well well-sm">Movie Title Saved!</div>
    </div>
  </div>

  <div class="form-group">
    <label for="editPoster" class="col-sm-2 control-label">Edit Poster: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editPoster" ng-model="movie.moviePoster" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.poster" class="well well-sm">Movie Poster Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editPlot" class="col-sm-2 control-label">Edit Plot: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editPlot" ng-model="movie.moviePlot" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.plot" class="well well-sm">Movie Plot Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editTrivia" class="col-sm-2 control-label">Edit Trivia: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editTrivia" ng-model="movie.movieTrivia" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.trivia" class="well well-sm">Movie Trivia Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editDirector" class="col-sm-2 control-label">Edit Director: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editDirector" ng-model="movie.movieDirector" ng-change="movies.$save(movie)" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.director" class="well well-sm">Movie Director Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editWriter" class="col-sm-2 control-label">Edit Writer: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editWriter" ng-model="movie.movieWriter" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.writer" class="well well-sm">Movie Writer Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editActors" class="col-sm-2 control-label">Edit Actors: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editActors" ng-model="movie.movieActors" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.actors" class="well well-sm">Movie Actors Saved!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="editYear" class="col-sm-2 control-label">Edit Year: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="editYear" ng-model="movie.movieYear" ng-change="movies.$save(movie)"></label>
    </div>
    <div class="col-sm-2">
      <p ng-show="watch.year" class="well well-sm">Movie Year Saved!</p>
    </div>
  </div>

  <div>
      <input type="hidden" name="hiddenField" />
  </div>

  <div class="form-group">
    <label for="deleteMovie" class="col-sm-2 control-label"></label>
    <div class="col-sm-8">
      <button type="button" name="deleteMovie" ng-click="deleteMovie(movie)" class="form-control btn btn-danger">Delete Movie</button>
    </div>
  </div>

</form>
