<div class="row">

  <!-- Login buttons -->

  <div class="col-sm-8 col-md-8 col-lg-8" ng-show="!authData.uid">
    <span ng-show="!authData">Login with: </span>
    <button type="button" class="btn btn-info" ng-click="loginGoogle()">Google</button>
    <button type="button" class="btn btn-info" ng-click="loginFacebook()">Facebook</button>
    <button type="button" class="btn btn-info" ng-click="loginTwitter()">Twitter</button>
    <button type="button" class="btn btn-info" ng-click="loginGitHub()">GitHub</button>
    <button type="button" class="btn btn-info" ng-click="openLoginModal('md')">E-mail &amp; password</button>
    <button type="button" class="btn btn-info" ng-click="loginAnon()">Anonymously</button>
  </div>

  <!-- When user is logged in -->

  <div class="col-sm-4 col-md-4 col-lg-4" ng-show="authData.uid">
    <form class="form-horizontal" ng-submit="addMovie()" name="newMovie">
      <input type="text"
      class="form-control addMovie"
      name="movieTitle"
      ng-model="movie.movieTitle"
      uib-typeahead="address for address in getLocation($viewValue)"
      typeahead-loading="loadingLocations"
      typeahead-no-results="noResults"
      typeahead-min-length="3"
      typeahead-on-select="onSelect($item)"
      placeholder="Add the worst movie you've seen!"/>
      <span class="glyphicon glyphicon-search form-control-feedback" ng-show="authData"></span>
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </form>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2" ng-show="authData.uid">
    <button type="button" class="btn btn-info btn-block" ng-click="logout()">Logout</button>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2" ng-show="authData.uid">
    <button type="button" class="btn btn-info btn-block" ng-click="openAccountModal('md')">Account</button>
  </div>

  <!-- Tech notes and resume -->

  <div class="col-sm-2 col-md-2 col-lg-2">
    <button type="button" class="btn btn-danger btn-block" ng-click="techSummary = !techSummary">Tech Notes</button>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <a target="_self" href="../../resume/T-D-Kehoe.pdf" download="T-D-Kehoe.pdf" class="resume">
      <button type="button" class="btn btn-danger btn-block">Résumé</button>
    </a>
  </div>

</div>

<!-- Tech Notes row -->
<div class="row well well-lg" ng-show="techSummary">
  <p class="lead text-justify">AngularFire CRUD app with AngularJS, Firebase, Bootstrap, and async typeahead.</p>
  <p class="text-justify">This is a front-end app. Instead of a back-end it's accessing Firebase, a NoSQL cloud database. There are two views: INDEX/NEW (Home) and SHOW/EDIT. I also made a <a ng-href="https://crudiest-movies.firebaseapp.com/#/movies">MEAN stack</a> version of this app. The MEAN stack app lacks auth, has seperate SHOW and EDIT pages, and the EDIT pages has a &quot;Submit&quot; button. In contrast, the Firebase SHOW/EDIT page instantly saves user edits to the remote database without the need for a &quot;Submit&quot; button.</p>
  <p class="text-justify">Auth is handled by Firebase. The Google, Facebook, Twitter, and GitHub logins are OAuth2. The e-mail &amp; password login opens a UI Bootstrap modal window, with UI Bootstrap alerts and UI Bootstrap tabs. The e-mail &amp; password login has a full feature set, including create new user, check for existing e-mail address, login, change e-mail address, change password, and reset lost password. Lastly, users can login anonymously.</p>
  <p class="text-justify">Upon login, a "Add a Movie" data entry form shows. This form uses the UI Bootstrap asynchronous typeahead. Each keystroke makes an HTTP request to the Open Movie Database, which returns ten movie titles. onSelect (clicking a movie title) fires an HTTP GET request for a single movie to the OMDB which returns the movie data. This movie is then pushed locally to the $scope.movies array. This updates the INDEX view almost instantly. Then, running in the background, an HTTP POST adds the movie to the CRUDiest Movies Database. Lastly, an HTTP GET request to the CRUDiest Movies Database gets all the movies and syncs to $scope. This is the slowest step but happens without the user's awareness.</p>
  <p class="text-justify">Users can order the movies by date added, rating, and year. The "Order By" buttons have ng-click set up with two values, <i>order</i> and <i>reverse</i>. These values are passed to the $scope and then to ng-repeat.</p>
  <p class="text-justify">The app is responsive. The number of movies displayed per row changes from five in the large view, to four in the medium view, three in the small view, and two on mobile devices.</p>
  <p class="text-justify">Clicking on a movie routes the user to the SHOW/EDIT page.</p>

    <!-- On the SHOW page, comments are an array of objects nested in the movie object. This is easy with the NoSQL database but would be more work with an SQL database. The "number of comments display" hides and shows the comments when clicked. A tooltip informs users of this feature. The number of comments pluralizes. The likes/dislikes buttons use glyphicons. -->

  <p class="text-justify">The <a ng-href="https://github.com/tdkehoe/CRUDiest-Firebase">repository</a> is on GitHub. I also wrote tutorials to make the <a ng-href="https://github.com/tdkehoe/Learn-To-Code-By-Breaking-Stuff/blob/master/Firebase.md">Firebase app</a>, the <a ng-href="https://github.com/tdkehoe/Learn-To-Code-By-Breaking-Stuff/blob/master/Firebase_Authorization.md">Firebase auth</a>, and the <a ng-href="https://github.com/tdkehoe/Learn-To-Code-By-Breaking-Stuff/blob/master/Typeahead.md">asynchronous typeahead</a>.</p>
</div>

<!-- orderBy labels row -->
<div class="row visible-sm-block visible-md-block visible-lg-block">
  <div class="col-sm-4 text-center">
    <h4>Order by Date Added</h4>
  </div>
  <div class="col-sm-4 text-center">
    <h4>Order by Rating</h4>
  </div>
  <div class="col-sm-4 text-center">
    <h4>Order by Year</h4>
  </div>
</div>

<!-- orderBy buttons row, mobile screens -->
<div class="row visible-xs-block">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block" ng-click="order = '$id'; reverse = true">Order By Recently Added</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block" ng-click="order = '$id'; reverse = false">Order By Least Recently Added</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-warning btn-block" ng-click="order = 'movieImdbRating'; reverse = false">Order By Worst First</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-warning btn-block" ng-click="order = 'movieImdbRating'; reverse = true">Order By Best First</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-block" ng-click="order = 'movieYear'; reverse = true">Order By Newest</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-block" ng-click="order = 'movieYear'; reverse = false">Order By Oldest</button>
  </div>
</div>

<!-- orderBy buttons row, large screens -->
<div class="row visible-sm-block visible-md-block visible-lg-block">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block" ng-click="order = '$id'; reverse = true">Recent</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block" ng-click="order = '$id'; reverse = false">Oldest</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-warning btn-block" ng-click="order = 'movieImdbRating'; reverse = false">Worst</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-warning btn-block" ng-click="order = 'movieImdbRating'; reverse = true">Best</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-block" ng-click="order = 'movieYear'; reverse = true">Newest</button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-success btn-block" ng-click="order = 'movieYear'; reverse = false">Oldest</button>
  </div>
</div>

<!-- Responsive views -->
<div class="row visible-xs-block">
  <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
    <a ng-href="/#/movies/{{movie.$id}}"><img class="extraSmallMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieTitle}}"></a>
  </div>
</div>

<div class="row visible-sm-block">
  <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
    <a ng-href="/#/movies/{{movie.$id}}"><img class="smallMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieTitle}}"></a>
  </div>
</div>

<div class="row visible-md-block">
  <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
    <a ng-href="/#/movies/{{movie.$id}}"><img class="mediumMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieTitle}}"></a>
  </div>
</div>

<div class="row visible-lg-block">
  <div ng-repeat="movie in movies | orderBy : order : reverse" class="movieIndex">
    <a ng-href="/#/movies/{{movie.$id}}"><img class="largeMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieTitle}}"></a>
  </div>
</div>
