<div class="modal-header">
  <h3 class="modal-title">E-mail &amp; Password Login Options</h3>
</div>

<div class="modal-body">

  <uib-tabset>
    <uib-tab heading="Create New User">Content</uib-tab>
    <uib-tab heading="Login">More content</uib-tab>
    <uib-tab heading="Change E-mail Address"></uib-tab>
    <uib-tab heading="Change Password"></uib-tab>
    <uib-tab heading="Reset Lost Password"></uib-tab>
  </uib-tabset>

</div>

<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Close Modal Window</button>
</div>
